@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Markazi+Text:wght@400;700&display=swap");

/* Grid Container */

.container {
  display: grid;
  grid-template-areas:
    "header nav"
    "main main"
    "footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  max-width: 1440px;
  max-height: 2900px;
  padding: 0 10%;
  box-sizing: border-box;
  font-size: 1.5vw;
  overflow-x: hidden;
}

/* Header/Nav Styling */

.header {
  grid-area: header;
  margin-top: 5vh;
}

header img {
  width: 15vw;
  max-width: 150px;
}

.nav {
  grid-area: nav;
  margin-top: 5vh;
}

.nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  text-wrap: nowrap;
  align-items: center;
  flex: 1 1 auto;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  color: #333333;
}

.nav a,
.footer a {
  text-decoration: none;
  color: inherit;
}

.footer li :hover,
.nav li :hover {
  color: #495e57;
}

/* Main Styling */

.main,
.booking {
  grid-area: main;
  margin-top: 2vh;
  margin-bottom: 50px;
}

.main-hero,
.booking-hero {
  display: flex;
  justify-content: space-between;
  padding: 2rem 20%;
  color: #edefee;
  background-color: #495e57;
  width: 140%;
  margin-left: -20%;
  margin-right: -20%;
  position: relative;
  margin-bottom: 15%;
}

.main-hero article,
.booking-hero article {
  max-width: 40%;
}

.main-hero h2,
.booking-hero h2 {
  font-family: "Markazi Text", serif;
  font-weight: 700;
  font-size: 5vw;
  color: #f4ce14;
  text-wrap: nowrap;
  margin-bottom: 0;
}

.main-hero,
.about-us h5 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 3vw;
  margin-bottom: 20px;
}

.main-hero p,
.booking-hero p {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 2vw;
}

.main-hero button {
  background-color: #f4ce14;
  color: #333333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 2vw;
  cursor: pointer;
  box-shadow: 1px 1px 4px;
}

.main-hero img,
.booking-hero img {
  width: 30%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  position: absolute;
  right: 15%;
  bottom: -10%;
  box-shadow: 1px 1px 5px black;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.main-specials {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 20px;
  font-family: "Karla", sans-serif;
}

.specials-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8vh;
}

.specials-title h2 {
  font-size: 4vw;
  font-weight: bolder;
  margin: 0;
}

.specials-title button {
  background-color: #f4ce14;
  color: #333333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 2vw;
  cursor: pointer;
  box-shadow: 1px 1px 4px;
}

.specials-card {
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 4px;
  width: 30%;
  border-radius: 16px;
  overflow: hidden;
}

.specials-card img {
  height: 20vw;
  object-fit: cover;
}

.specials-card article {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
  background-color: #edefee;
  flex-grow: 1;
}

.specials-card article h3,
h4 {
  font-size: 1.5vw;
  font-weight: 600;
}

.specials-card article h4 {
  color: #ee9972;
}
.specials-card article p {
  flex-grow: 1;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #edefee;
  width: 140%;
  margin-left: -20%;
  margin-right: -20%;
  padding: 20px 20%;
  padding-bottom: 50px;
}

.review-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.review-card {
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 2px gray;
  border-radius: 16px;
  padding: 10px;
  background-color: white;
}

.review-card > p {
  text-align: center;
}

.review-card article {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.review-card h5 {
  font-weight: 600;
  font-size: 1.5vw;
}

.review-card img {
  width: 10vw;
  height: auto;
  border-radius: 50%;
}

.review-text {
  font-size: 1.5vw;
  flex-grow: 1;
}

/* Main - About us */

.about-us {
  display: flex;
  gap: 20px;
  font-family: "Karla", sans-serif;
  position: relative;
  color: #edefee;
  background-color: #495e57;
  width: 140%;
  margin-left: -20%;
  margin-right: -20%;
  position: relative;
  padding: 20px 0;
}

.about-us article {
  margin-left: 15%;
  width: 30%;
}

.about-us img {
  width: 25%;
  height: auto;
  border-radius: 16px;
  position: absolute;
}

.about-us > .about-images :first-child {
  right: 23%;
  top: 35%;
}

.about-us > .about-images :last-child {
  right: 15%;
  top: 10%;
}

.about-us h2 {
  font-family: "Markazi Text", serif;
  font-weight: 700;
  font-size: 5vw;
  color: #f4ce14;
  text-wrap: nowrap;
  margin-bottom: 0;
}
/* Footer Styling */

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
}

.footer ul {
  list-style: none;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  color: #333333;
  text-align: start;
  padding: 0;
}

/* Booking Page */

.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "Karla", sans-serif;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.rdp-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rdp-caption_label {
  padding: 10px;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.rdp-month {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 20px;
  font-family: "Karla", sans-serif;
}

.rdp-day button {
  font-size: 1rem;
}

.rdp-today button {
  font-weight: 600;
  color: #495e57;
}

.rdp-day_button:hover {
  background-color: #495e57;
  color: #ccc;
  transition: 200ms;
  font-size: 1rem;
}

.rdp-selected button {
  background-color: #495e57;
  color: #fff;
  outline: none;
  border: 2px solid white;
  box-shadow: none;
}

.booking-form button:hover {
  background-color: #495e57;
  color: #fff;
  transition: 200ms;
}

.form-input {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input label {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.form-input select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.form-input button {
  background-color: #f4ce14;
  color: #333333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 12px;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 3vw;
  cursor: pointer;
  box-shadow: 1px 1px 4px;
}

.form-time label {
  margin-bottom: 5px;
}

.form-guests {
  display: flex;
  gap: 10px;
  align-items: center;
}

.form-guests input,
.form-time select,
.contact-info input,
.other-text textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.form-guests input {
  width: 100%;
  max-width: 100px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-info input {
  margin-bottom: 10px;
}

.text-updates {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.text-updates input {
  margin: 0;
  height: 15px;
  width: 15px;
}

.other-text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (min-width: 1100px) {
  .container {
    font-size: 1rem;
  }
}
